---
import { cn } from "@/lib/utils";

type Props = {
	className?: string;
};
const { className, ...props }: Props = Astro.props;
---

<footer class={cn("container", className)} {...props}>
	<div class="-ml-2 flex items-center justify-center gap-2 font-sora text-sm">
		<p>
			<span class="opacity-70">Made by</span>
			<a
				href="https://github.com/ardzero"
				target="_blank"
				class="opacity-70 hover:opacity-100"
				target="_blank"
				rel="noopener noreferrer"
			>
				Ard Astroid</a
			>
		</p>
		<span class="opacity-70">//</span>
		<a
			href="https://github.com/ardzero/wplink"
			target="_blank"
			class="opacity-70 hover:opacity-100"
			target="_blank"
			rel="noopener noreferrer"
		>
			GitHub
		</a>
	</div>
</footer>
